<!DOCTYPE html>
<html lang="es" xmlns="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP-TAREAS</title>
  <style>
    ul {
      width: 60%;
      margin: 0 auto;
    }

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      padding: 5px;
    }

    .completar {
      text-decoration: line-through;
      color: #ccc;
    }

    .form-layout {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 10px auto;
    }
  </style>
</head>

<body>

  <h1 th:text="${titulo_de_la_pagina}"></h1>

  <hr>

  <div class="form-layout_">
    <div>
      <form th:action="@{/guardar}" method="POST" th:object="${tarea}">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" th:field="*{descripcion}" placeholder="Ingresa la descripción" required>
        <input type="submit" value="Guardar">
      </form>
    </div>
    <div>
      <!-- <button id="btn-pdf">Guardar en PDF</button> -->
    </div>
  </div>
  <hr>



  <ul class="tasks-list">
    <li th:each="t : ${todas_las_tareas}">

      <span th:classappend="${t.completada} ? 'completar' : '' " th:text="${t.descripcion}"></span>

      <div>
        <form th:if="${t.completada} == false" th:action="@{/completar/{id}(id=${t.id})}" method="post">
          <input type="submit" value="✓" title="Completar">
        </form>
        <form th:if="${t.completada} == true" th:action="@{/eliminar/{id}(id=${t.id})}" method="post">
          <input type="submit" value="✕" title="Eliminar">
        </form>
      </div>
    </li>
  </ul>

</body>

</html>